{% extends "member/base.html" %}

{% block title_page %}
    Détail d'un membre
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-8 columns">
                    <h1>
                        Détail d'un membre
                        <br />
                        <small>
                            Qui est ce ?
                        </small>
                    </h1>
                </div>
            </div>
        </div>
        {# content #}
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-8 columns large-offset-2">
                        {% if member %}
                        <p>
                            <h2>
                                <span>
                                    <img src="/static/img/tux.png" width="50" class="hide-for-small" style="vertical-align:bottom;" />
                                </span>
                                {{ member.username }}
                                <small>{{ member.first_name }} {{ member.last_name }}</small>
                            </h2>
                            <ul>
                                <li>Email : {{ member.email }}</li>
                                <li>Date d'inscription : {{ member.date_joined|date:'d-m-Y' }}</li>
                                <li>Dernière connexion : {{ member.last_login|date:'d-m-Y' }}</li>
                            </ul>
                        </p>
                        {% else %}
                            <p>Member not found.</p>
                        {% endif %}
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

