{% extends "member/base.html" %}

{% load email_obfuscator %}

{% block title_page %}
    {% if user.is_authenticated and profile_detail.user == user %}
        Mon profil &#183;
    {% else %}
        Détail d'un membre &#183;
    {% endif %}
{% endblock %}

{% block menu_member_profil %}
    {% if user.is_authenticated and profile_detail.user == user %}
        active
    {% endif %}
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">{{ profile_detail.user.get_username }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-6 columns">
                    <h1>
                        {% if user.is_authenticated and profile_detail.user == user %}
                            Mon profil
                        {% else %}
                            Détail d'un membre
                        {% endif %}
                    </h1>
                </div>

                <div class="large-6 columns">
                    {% if user.is_authenticated %}
                        {% if profile_detail.user == user %}
                            <div class="row">
                                <div class="large-12 columns">
                                    <a href="{% url 'member:settings_view' %}" class="button radius right">
                                        Paramètres
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            {% if profile_request.is_admin %}
                                <div class="row">
                                    <div class="large-12 columns">
                                        <form action="{% url 'member:detail' user_name=profile_detail.user.username %}" method="post">
                                            {% csrf_token %}
                                            <button name="toggle_is_publisher" class="button-admin right">
                                                {% if not profile_detail.is_publisher %}
                                                    Nommer publisher
                                                {% else %}
                                                    Supprimer la fonction publisher
                                                {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <form action="{% url 'member:detail' user_name=profile_detail.user.username %}" method="post">
                                            {% csrf_token %}
                                            <button name="toggle_is_admin" class="button-admin right">
                                                {% if not profile_detail.is_admin %}
                                                    Nommer admin
                                                {% else %}
                                                    Supprimer la fonction admin
                                                {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {# content #}
        <div class="row">
            <div class="large-12 columns">
                <h3>
                    {{ profile_detail.user.get_username }}
                    <small>{{ profile_detail.user.get_full_name }}</small>
                </h3>
            </div>
            <div class="large-2 columns">
                <h2>
                    <span>
                        <img src="{{ profile_detail.get_avatar_url }}" class="hide-for-small right" alt="avatar" />
                    </span>
                </h2>
            </div>
            <div class="large-10 columns">
                <ul>
                    {% if profile_detail.show_email %}
                        <li>Email : {{ profile_detail.user.email|obfuscate }}</li>
                    {% endif %}
                    <li>Date d'inscription : {{ profile_detail.user.date_joined|date:'d-m-Y' }}</li>
                    <li>Dernière connexion : {{ profile_detail.user.last_login|date:'d-m-Y' }}</li>

                    <li>
                        <a href="{% url 'publications:by_author' profile_detail.user.get_username %}">
                            Publications
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'events:by_author' profile_detail.user.get_username %}">
                            Événements
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}

