{% extends "member/base.html" %}

{% load email_obfuscator %}

{% block title_page %}
    Détail d'un membre &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">{{ profile.user.get_username}}</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-8 columns">
                    <h1>
                        Détail d'un membre
                    </h1>
                </div>

                <div class="large-4 columns">
                    {% if user.is_authenticated %}
                        {% if profile.user == user %}
                            <div class="row">
                                <div class="large-12 columns">
                                    <a href="{% url 'member:settings_view' %}" class="button right">
                                        Paramètres
                                    </a>
                                </div>
                            </div>
                            {% if profile.is_publisher %}
                                <div class="row">
                                    <div class="large-12 columns">
                                        <a href="{% url 'member:publications' %}" class="button-admin right">
                                            Mes publications
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if user.is_superuser %}
                                <div class="row">
                                    <div class="large-12 columns">
                                        <form action="{% url 'member:detail' user_name=profile.user.username %}" method="post">
                                            {% csrf_token %}
                                            <button name="toggle_is_publisher" class="button-admin right">
                                                {% if not profile.is_publisher %}
                                                    Nommer publisher
                                                {% else %}
                                                    Supprimer la fonction publisher
                                                {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <form action="{% url 'member:detail' user_name=profile.user.username %}" method="post">
                                            {% csrf_token %}
                                            <button name="toggle_is_admin" class="button-admin right">
                                                {% if not profile.is_admin %}
                                                    Nommer admin
                                                {% else %}
                                                    Supprimer la fonction admin
                                                {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {# content #}
        <div class="row">
            <div class="large-12 columns">
                <h3>
                    {{ profile.user.get_username }}
                    <small>{{ profile.user.get_full_name }}</small>
                </h3>
            </div>
            <div class="large-2 columns">
                <h2>
                    <span>
                        <img src="{{ profile.get_avatar_url }}" class="hide-for-small right" alt="avatar" />
                    </span>
                </h2>
            </div>
            <div class="large-10 columns">
                <ul>
                    {% if profile.user.email %}<li>Email : {{ profile.user.email|obfuscate }}</li>{% endif %}
                    {% if profile.promo %}<li>Promotion : {{ profile.promo }}</li>{% endif %}
                    <li>Date d'inscription : {{ profile.user.date_joined|date:'d-m-Y' }}</li>
                    <li>Dernière connexion : {{ profile.user.last_login|date:'d-m-Y' }}</li>
                </ul>
            </div>
        </div>

        {% if profile.is_publisher %}
            <div class="row">
                <div class="large-12 columns">
                    <h3>Écrits publiés :</h3>
                    {% for publication in publications_list %}
                        <div class="row">
                            <div class="small-2 columns" style="text-align: center;">
                                <a href="{% url 'publications:detail' publication_id=publication.pk %}">
                                    <img src="{{ publication.image_url }}" alt="image of publication" width="50" />
                                </a>
                            </div>
                            <div class="small-10 columns">
                                <p>
                                    <a href="{% url 'publications:detail' publication_id=publication.pk %}">
                                        {{ publication.title }}
                                    </a>
                                    <br />
                                    {{ publication.subtitle }}
                                </p>
                            </div>
                        </div>
                    {% empty %}
                        <p>Aucunes publications trouvées.</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}

