{% extends "member/base.html" %}

{% block title_page %}
    Mes événements &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Mes événements</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-8 columns">
                    <h1>
                        Mes événements
                    </h1>
                </div>
            </div>
        </div>
        {# content #}
        <div class="row">
            <div class="large-12 columns">
                <h3>Événements publiés :</h3>
                {% if events_list %}
                    {% with data_list=events_list %}
                        {% include "member/events.table.html" %}
                    {% endwith %}
                {% else %}
                    <p>Aucuns événements trouvés, <a href="{% url 'events:create' %}">faites une invitation</a>.</p>
                {% endif %}

                <h3>Brouillons :</h3>
                {% if drafts_list %}
                    {% with data_list=drafts_list %}
                        {% include "member/events.table.html" %}
                    {% endwith %}
                {% else %}
                    <p>Aucuns brouillons trouvés, <a href="{% url 'events:create' %}">faites une invitation</a>.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}

