<table width="100%">
    <thead>
        <tr>
            <th width="30%">Titre</th>
            <th width="50%">Type d'événement, lieu et date</th>
            <th width="20%">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for data in data_list %}
            <tr>
                <td>
                    <div class="row" width="100%">
                        <div class="large-3 hide-for-small columns">
                            <img src="{{ data.image_url }}" alt="" width="50" />
                        </div>
                        <div class="large-9 small-12 columns">
                            <p>
                                <a href="{% url 'events:detail' data.pk %}">
                                    {{ data.title }}
                                </a>
                            </p>
                        </div>
                    </div>
                </td>

                <td>
                    <p>
                        {{ data.get_type_display }} - {{ data.place }} - {{ data.date_start }}
                    </p>
                </td>

                <td>
                    <div class="button-group ">
                        <a href="{% url 'events:edit' data.pk %}" class="button-admin">
                            Éditer
                        </a>
                        {% if data.is_draft %}
                            <form action="{% url 'events:detail' data.pk %}" method="post">
                                {% csrf_token %}
                                <button name="toggle_draft" class="button-admin">
                                    Publier
                                </button>
                            </form>
                        {% endif %}

                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
