{% extends "member/base.html" %}

{% block title_page %}
    Liste des membres &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <h1>
                Liste des membres
                <br />
                <small>
                    {{ members_count }} membres trouvés : qui sont les <em>geek</em> de l'iTeam ?
                </small>
            </h1>
        </div>
        {# content #}
        <div class="row">
            <div class="large-12 columns">
                <ul class="large-block-grid-8 small-block-grid-4">
                    {% for member_one in data %}
                        <li style="text-align: center;">
                            <a href="{% url 'member:detail' member_one.username %}">
                                <img src="{{ member_one.profile.get_avatar_url }}" alt="avatar" width="75px" />
                                <br>
                                {{ member_one.username|truncatechars:12 }}
                            </a>
                        </li>
                    {% empty %}
                     <p>
                        Aucun membres trouvés.
                    </p>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {# paginator #}
        <div class="pagination-centered">
            <ul class="pagination">
                {% for i in data.paginator.page_range %}
                    <li class="{% if data.number == i %}current{% endif %}">
                        <a href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
