{% extends "member/base.html" %}

{% load staticfiles %}

{% block title_page %}
    Liste des membres
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">

            <div class="row">
                <div class="large-8 columns">
                    <h1>
                        Liste des membres
                        <br />
                        <small>
                            Qui sont les <em>geek</em> de l'iTeam ?
                        </small>
                    </h1>
                </div>
            </div>

        </div>
        {# content #}
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <h1>
                            {{ members_count }} membres trouvés :
                        </h1>

                        {% if members %}
                            <ul class="left">
                                {% for member_one in members %}
                                    <li><a href="voir/{{ member_one.user }}">{{ member_one.user }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>
                                No members found.
                            </p>
                        {% endif %}
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
