{% extends "member/base.html" %}

{% block title_page %}
    Connexion &#183;
{% endblock %}

{% block menu_login %}
    active
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Connexion</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="home-app-title">
            <h1>
                Connexion
            </h1>
        </div>

        <div class="row">
            <div class="large-12 columns">
                {% if not user.is_authenticated %}
                    <p>
                        Si vous n'avez pas de compte, vous pouvez <a href="{% url 'member:register_view' %}">vous inscrire</a>.
                    </p>
                {% else %}
                    <p>
                        Vous êtes déjà connecté.
                    </p>
                {% endif %}
            </div>
        </div>

        {% if not user.is_authenticated %}
        <div class="row">
            <div class="large-12 columns">
                <form method="post" action="{% url 'member:login_view' %}{% if next %}?next={{ next }}{% endif %}">
                    {% csrf_token %}

                    {% if error %}
                        <small class="error">{{ error }}</small>
                    {% endif %}

                    {% for field in form %}
                        <div class="row">
                            <div class="large-3 large-offset-3 columns">
                                {{ field.label_tag }}
                            </div>
                            <div class="large-3 end columns">
                                {{ field }}
                                {% for error in field.errors %}
                                    <small class="error">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row">
                        <div class="large-12 columns" style="text-align: center;">
                            <button type="submit" class="button radius">
                                Se connecter
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <p>
                    <a href="{% url 'member:password_reset_ask' %}">Mot de passe oublié ?</a>
                </p>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
