{% extends "member/base.html" %}

{% load publications_tags %}

{% block title_page %}
    Mot de passe réinitialisé &#183;
{% endblock %}

{% block menu_login %}
    active
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Mot de passe réinitialisé</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="home-app-title">
            <h1>
                Mot de passe réinitialisé
            </h1>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <p>
                    Comme demandé, nous avons changé votre mot de passe. Votre nouveau mot de
                    passe est :
                </p>
                {{ new_password|iteam_markdown }}
                <p>
                    Nous vous conseillons de le modifier le plus vite possible (c'est à dire : maintenant) en <a href="{% url 'member:settings_view' %}">cliquant ici</a>.
                </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
