{% extends "member/base.html" %}

{% block title_page %}
    Inscription &#183;
{% endblock %}

{% block menu_register %}
    active
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Inscription</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="home-app-title">
            <div class="row">
                <div class="large-12 columns">
                    <h1>
                        Inscription
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                {% if user.is_authenticated %}
                    <p>Vous êtes déjà connecté.</p>
                {% else %}
                    <p>
                        <strong>Vous êtes sur le point de vous inscrire sur iTeam.org</strong> ; Si vous
                        possédez déjà un compte, merci de <a href="{% url 'member:login_view' %}">vous connecter</a>
                        à la place.
                    </p>
                    <p>
                        Veuillez fournir les informations nécessaires dans le
                        formulaire suivant afin de poursuivre votre inscription.
                    </p>

                    <form action="{% url 'member:register_view' %}" method="post">
                        {% csrf_token %}

                        <fieldset>
                            <legend>Identifiants</legend>

                            {% for field in form %}
                                {{ field.label_tag }}
                                {{ field }}
                                {% for error in field.errors %}
                                    <small class="error">{{ error }}</small>
                                {% endfor %}
                            {% endfor %}

                        </fieldset>

                        <div class="small-8 small-offset-2 large-4 large-offset-4" >
                            <input type="submit" value="Valider mon inscription" class="button radius expand" />
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
