{% extends "member/base.html" %}

{% block title_page %}
   Paramètres &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Paramètres du compte</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="home-app-title">
            <div class="row">
                <div class="large-12 columns">
                    <h1>
                        Paramètres du compte
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <form action="{% url 'member:settings_view' %}" method="post">
                    {% csrf_token %}

                    {% for error in errors %}
                        <small class="error">{{ error }}</small>
                    {% endfor %}
                    {% if msg %}
                        <div data-alert class="alert-box success round">
                            {{ msg }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endif %}

                    <fieldset>
                        <legend>Modification du mot de passe</legend>

                        <label for="password_old">Ancien mot de passe :</label>
                        <input type="password" placeholder="Ancien mot de passe" name="password_old" maxlength="76" id="password_old" />

                        <label for="password_new">Nouveau mot de passe :</label>
                        <input type="password" placeholder="Nouveau mot de passe" name="password_new" maxlength="76" id="password_new" />

                        <label for="password_confirm">Confirmation :</label>
                        <input type="password" placeholder="Confirmation" name="password_confirm" maxlength="76" id="password_confirm" />

                    </fieldset>

                    <div class="small-8 small-offset-2 large-4 large-offset-4" >
                        <input type="submit" value="Modifier mon mot de passe" class="button expand" />
                    </div>

                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
