# mac osx tmp files
*.DS_Store

# prod files
iTeam/settings_prod.py
gunicorn_start.sh
deploy.sh
git_version.txt

# dev files
*.pyc
db.sqlite3
assets/stylesheets
media
.sass-cache
assets/.sass-cache
htmlcov
.coverage

.idea

# project files
*.sublime_project
*.sublime_workspace
