# mac osx tmp files
*.DS_Store

# prod files
iTeam/settings_prod.py
gunicorn_start.sh

# dev files
*.pyc
db.sqlite3
assets/stylesheets
media
.sass-cache
assets/.sass-cache
img_ignore
htmlcov
.coverage

.idea
