
/*  ========================================================================
    iTeam.org custom css
    Adrien Chardon - 2014
    ========================================================================  */

/*  ========================================================================
    BASE + HOME
    ========================================================================  */

header
{
    background-image: url('../images/header_background.png');
    background-color: $header_bg_color;
    color: white;

    h1
    {
        color: white;
        font-weight: normal;
    }
}

footer div
{
    font-size: 85%;
}

.button-center
{
    display: table;
    margin: 0 auto;
}

/* logo */
.top-bar img
{
    padding: 3px;
}

/* title */
.home-app-title
{
    margin-bottom: emCalc(16em);
    border-bottom: solid 1px #ddd;
}

/* warning box (for edit publication) */
.warning
{
  @include alert(
    $bg: rgb(240, 138, 36)
  );
}

/* button for all admin and publisher actions */
.button-admin
{
  @include button(
    $bg: rgb(240, 138, 36),
    $radius: true

  );
}

/* breadcrumbs */
.breadcrumbs
{
    margin-top: 20px;
}

/* textarea in forms */
textarea
{
    height: auto;
}

/* js-related and deprecated browsers stuff */
$color_user_env_error_msg: #FF4136; /* #FF4136 ~= red */

.browsehappy
{
    padding: 10px;
    text-align: center;
    background-color: $color_user_env_error_msg;

    a
    {
        color: black;
        text-decoration: underline;
    }
}

.warning_js
{
    padding: 10px;
    text-align: center;
    background-color: $color_user_env_error_msg;
}

.js .warning_js
{
    display: none;
}


/*  ========================================================================
    EVENT table (weekly and montly views)
    ========================================================================  */

$custom_table_color: rgb(255, 255, 255);

.custom_table_event_month, .custom_table_event_week
{
    overflow-x: auto;

    table
    {
        width: 100%;
        margin: auto;
        min-width: 900px;
    }

    th
    {
        background-color: darken($custom_table_color, 25%);
        text-align: center;
    }

    td
    {
        vertical-align: text-top;

        p
        {
            text-align: right;
            margin-bottom: 0px;
        }

        ul
        {
            margin-bottom: 0px;
        }
    }
}


.custom_table_event_month
{
    td, th
    {
        border: 3px solid white;
        width: 14%; /* 14 = 100% / 7 days */
        height: 75px;
    }

    td
    {
        background-color: darken($custom_table_color, 15%);
    }

    .today
    {
        /*background-color: darken($primary-color, 10%);*/
    }

    .noday
    {
        background-color: darken($custom_table_color, 7%);
    }
}

.custom_table_event_week
{
    td, th
    {
        width: 12%; /* 12 = 100% / (7 days + 1) */
    }

    .nav
    {
        border: 3px solid white;
        height: 75px;
    }

    .days
    {
        border: 3px solid white;
        height: 50px;
    }

    .hours
    {
        border-right: 3px solid white;
        border-left: 3px solid white;
        vertical-align: top;
    }
}

/*  ========================================================================
    EVENT index list
    ========================================================================  */

.event_index_list_type
{
    color: rgb(150, 150, 150);
}

.event_a, .event_p
{
    p
    {
       margin-bottom: 0px;
    }
}

.event_p
{
    background-color: rgb(230, 230, 230);
}

.row
{
    .event_a, .event_p
    {
        padding: 5px;
        margin-bottom: 10px;
    }
}

.event_detail_img
{
    margin: auto;
}

/*  ========================================================================
    MEMBER publication / event list
    ========================================================================  */

.member_event_table, .member_publications_table
{
    overflow-x: auto;

    table
    {
        width: 100%;
        margin: auto;
        min-width: 400px;
    }
}
