{% extends "pages/base.html" %}

{% block title_page %}
    À propos &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">À propos</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="home-app-title">
            <h1>
                À propos
                <br />
                <small>En savoir plus sur l'iTeam et ce site</small>
            </h1>
        </div>

        <div class="large-6 columns">
            <h3>
                L'association
            </h3>
            <p>
                L’iTeam est une des plus anciennes associations de l’ECE. Elle a
                pour but la promotion des logiciels libres tels que le navigateur
                Firefox, la suite LibreOffice ou le système d'exploitation Linux.
            </p><p>
                Nous offrons de plus en plus de formations ouvertes à tous ceux qui
                ont envie d’apprendre ou de se perfectionner dans un domaine.
                Nous proposons entre autres des formations à propos de la programmation
                (PHP, MySQL, HTML/CSS), du graphisme (The Gimp & Inkscape),
                des réseaux (TCP/IP, wifi, sécurité), Linux, etc. Des intervenants extérieurs
                peuvent également venir pour parler d’une technologie particulière
                comme Mozilla pour Firefox.
            </p><p>
                 Nous
                organisons également divers évènements liés au monde du libre tel
                que des conférences avec le GTUG (Google Technologies User Group) et
                le PAUG (Paris Android User Group). Ces évènements sont souvent
                suivis d'un pot, une occassion en or pour rencontrer des
                professionels de ces millieux dans une ambiance plus conviviale.
                Vous pourrez nous retrouver comme chaque année au salon Solutions
                Linux à Paris. C’est une belle opportunité de rencontrer les grandes
                entreprises du libre et peut être de futurs recruteurs.
            </p><p>
                En plus du support logiciel et matériel que nous offrons aux
                étudiants, de nombreux autres projets sont en cours et n’attendent
                que vous : refonte du réseau, traduction, article pour des blogs tel
                que FrAndroid, module de vote pour les formations, développement d'un
                service de gestion de versions SVN, installation de VM pour tester
                différentes distributions, mise en place d'un framework de suivi
                de projet, et bien plus encore pour les plus motivés.
            </p><p>
                Venez découvrir ou redécouvrir l'iTeam !
            </p>

        </div>
        <div class="large-6 columns">
            <h3>
                Ce site
            </h3>
            <p>
                Si vous vous intéressez à tout cela, vous devriez songer à <a href="https://github.com/Nodraak/iteam-site">contribuer</a> au développement du site !
            </p>

            <div class="row">
                <div class="large-6 columns">

                    <p>
                        Le Back-end est propulsé par les outils suivants :
                    </p>
                    <h5>Langage et framework</h5>
                    <ul>
                        <li><a href="http://www.python.org/">Python</a></li>
                        <li><a href="https://www.djangoproject.com/">Django</a></li>
                    </ul>
                    <h5>HTTP(S) et WSGI</h5>
                    <ul>
                        <li><a href="http://nginx.org/">NGinx</a></li>
                        <li><a href="http://gunicorn.org/">Gunicorn</a></li>
                    </ul>
                    <h5>Base de données</h5>
                    <ul>
                        <li><a href="https://sqlite.org/">SQLite</a></li>
                    </ul>
                </div>

                <div class="large-6 columns">

                    <p>
                        Le Front-end utilise les outils suivants :
                    </p>
                    <h5>Feuilles de style</h5>
                    <ul>
                        <li><a href="http://foundation.zurb.com/">Foundation</a></li>
                        <li><a href="http://necolas.github.io/normalize.css/">Normalize.css</a></li>
                        <li><a href="http://compass-style.org/">Compass</a></li>
                    </ul>
                    <h5>Javascript</h5>
                    <ul>
                        <li><a href="http://modernizr.com/">Modernizr</a></li>
                        <li><a href="http://jquery.com/">jQuery</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <h3>Droits</h3>
                <p>
                    ITeam.org est un site donc le code source est sous licence <a href="https://github.com/Nodraak/iteam-site/blob/prod/LICENSE">GNU GPL Affero version 3</a>, et provient en partie de <a href="http://progdupeu.pl">progdupeu.pl</a> et <a href="http://zestedesavoir.com">zestedesavoir.com</a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

