{% extends "pages/base.html" %}

{% block title_page %}
    Cookies &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Cookies</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="home-app-title">
            <h1>
                Cookies
                <br />
                <small>
                    Crédits : <a href="http://zestedesavoir.com/pages/cookies/">Zeste de Savoir</a> / <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
                </small>
            </h1>
        </div>

        <h3>Qu'est-ce qu'un cookie ?</h3>
        <p>
            Un cookie (aussi appelé <em>témoin de connexion</em> ou <em>témoin</em> au Québec) est un petit
            bout de texte envoyé par le serveur web au navigateur, et renvoyé à l'identique
            par le navigateur au serveur.
            <br />
            Les cookies ne sont ni des logiciels espions ni des virus, puisqu'ils ne sont
            en réalité que de simples fichiers textes et ne peuvent en aucun cas être exécutés.
            <br />
            Pour plus de détails sur ce qu'est un cookie, voyez
            <a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/">le site de la CNIL</a> ou
            <a href="http://fr.wikipedia.org/wiki/Cookie_%28informatique%29">Wikipédia</a>.</p>
        </p>

        <h3>À quoi servent les cookies ?</h3>
        <p>
            Les cookies se répartissent en deux grands types : les impératifs techniques
            et la mesure d'audience.
            <br />
            En aucun cas les cookies servent à recueillir des renseignements personnels,
            transmettre des données sensibles ou transmettre des données personnelles à des tiers.
        </p>

        <h4>Cookies techniques</h4>
        <p>
            Certaines fonctionnalités du site nécessitent des cookies pour pouvoir être
            opérationnelles. L'exemple typique est la connexion aux parties privées de
            iteam.org.
            <br />
            La liste complète des cookies techniques utilisés sur iteam.org et leur
            utilité est détaillée un peu plus bas.
            <br />
            Ces cookies, purement techniques, sont indispensables au fonctionnement de
            iteam.org. Si vous les refusez, les éléments qui en dépendent ne
            fonctionneront tout simplement pas !
        </p>
        <ul>
            <li>sessionid : Ce cookie est un identifiant unique qui permet de faire le lien entre votre session de navigation et les différentes pages que vous visitez. Il permet en particulier de vous connecter à iteam.org. Il ne contient qu'une chaîne de caractères aléatoires.</li>
            <li>csrftoken : Ce cookie contient une chaîne de caractères aléatoires qui permet de se prémunir des attaques <a href="http://fr.wikipedia.org/wiki/Cross-Site_Request_Forgery">CSRF</a>. Composant indispensable de la sécurité du site, vous ne pourrez rien poster sans ce cookie.</li>
        </ul>

        <h3>Comment refuser les cookies tiers</h3>

        <h4>Refus pur et simple des cookies tiers dans le navigateur</h4>
        <p>
            Vous pouvez bloquer purement et simplement les cookies tiers dans votre navigateur, en suivant la procédure décrite <a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes">sur le site de la CNIL dans le Conseil 1</a>.
        </p>
        <p>
            Cette man&oelig;uvre n'empêchera pas iteam.org de fonctionner, puisque les cookies techniques ne sont pas des cookies tiers.
        </p>
        <p>
            Toutefois, devant le manque de finesse de contrôle d'une telle solution, vous pourriez préférer utiliser une solution présentée au paragraphe suivant.
        </p>

        <h4>Utilisation d'un logiciel "anti-espions"</h4>
        <p>
            Il existe différents logiciels <em>"anti-espions"</em>, qui empêchent l'installation des cookies d'analyse d'audience, et bien d'autres encore.
        </p>
        <p>
            La CNIL <a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes">indique quelles solutions sont disponibles avec votre navigateur</a>, dans son Conseil 2.
        </p>

        <hr />

        <h3>Une recette de cookies</h3>
        <p>
            Puisque vous avez réussi à trouver cette page et que vous avez eu le courage de lire jusqu'ici, vous avez bien droit à une récompense : une recette de cookies !
        </p>
        <h4>Ingrédients</h4>
        <p>
            Pour 30 cookies environ (parce que c'est bon, on va en faire plein !) :
        </p>
        <ul>
            <li>500 g de farine</li>
            <li>250 g de beurre</li>
            <li>300 g de chocolat à pâtisser</li>
            <li>200 g de cassonade, ou à défaut de sucre roux</li>
            <li>2 œufs</li>
            <li>2 sachets de sucre vanillé</li>
            <li>1 pincée de sel</li>
            <li>1 sachet de levure</li>
        </ul>
        <p>
            Préparation : 10 minutes<br />
            Cuisson : 10 minutes
        </p>

        <h4>Préparation</h4>
        <ul>
            <li>Avec un grand couteau bien aiguisé, découpez le chocolat en petits morceaux.</li>

            <li>Dans un grand saladier, mélangez la farine, la cassonade, le sucre vanillé, la levure et le sel.</li>

            <li>Faites fondre le beurre, ajoutez-y les œufs. Incorporez le tout à la préparation.</li>

            <li>Ajoutez les morceaux de chocolat et mélangez avec soin.</li>
        </ul>
        <h4>Cuisson</h4>
        <ul>
            <li>Préchauffez votre four à 220°C / thermostat 7-8, grille en position basse.</li>

            <li>Façonnez des cookies d'environ 10 cm de côté sur la plaque recouverte de papier sulfurisé. Attention, espacez-les parce qu'ils s'étalent à la cuisson.</li>

            <li>Enfournez-les environ 10 minutes, ils sont cuits lorsqu'ils prennent une belle couleur dorée !</li>
        </ul>
        <h4>Conseils divers</h4>
        <ul>
            <li>Si vous avez la flemme de découper le chocolat, vous pouvez utiliser des pépites de chocolat mais en général c'est moins bon. Surtout pas de chocolat à déguster : ces chocolats manquent de sucre pour la patisserie !</li>

            <li>La cuisson parfaite se joue à quelques secondes près (sérieusement), alors surveillez-les bien ! Un SMS de trop, et vous obtenez des cookies en béton. Ce qui serait dommage !</li>

            <li>On peut faire des cookies à beaucoup de parfums, mais le must reste le cookie au chocolat.</li>
        </ul>

        <hr />

        <h3>Licence de cette page</h3>
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
            <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">À propos des cookies</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://zestedesavoir.com/pages/cookies/" property="cc:attributionName" rel="cc:attributionURL">Zeste de Savoir</a> est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">licence Creative Commons Attribution 4.0 International</a>.
        </p>

    </div>
</div>

{% endblock %}
