{% extends "pages/base.html" %}

{% block title_page %}
    A propos &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">À propos</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="home-app-title">
            <h1>
                A propos
                <br />
                <small>En savoir plus sur les anciens membres de l'iTeam</small>
            </h1>
        </div>

        <div class="large-12">
            <h2>
                iTeam, par ordre d'apparition
            </h2>

<p>
<strong>Xavier Beaudouin as kiwi starring le parrain</strong><br />
Disons qu'il a un niveau honorable pour tout ce qui touche à l'info (Caudium). Il a aussi participé au sponsoring de l'association en offrant du matériel et du temps.
</p>

<p>
<strong>Jean Baptiste as jb starring le bras droit du parrain</strong><br />
Un peu comme kiwi mais en moins présent.
</p>

<p>
<strong>Bertrand Lupart as bertrand starring le chef PPC</strong><br />
La personne qui garde son calme en toutes circonstances même en face des pires doublehp. Le chef en ce qui concerne le PPC. Il garde encore beaucoup de pouvoir et d'influence dans le milieu. Il s'est impliqué pleinement dans l'organisation pendant 4 ans. Il a participé à quelques contrats pour iteam où il fallait être très courageux.
</p>

<p>
<strong>Benoit C.</strong><br />
Un passioné doué en info. Parti trop vite de l'organisation.
</p>

<p>
<strong>Ludovic Ruault de Beaulieu as Ludo starring la bonne humeur</strong><br />
Une personne dévouée à l'organisation toujours de bonne humeur que l'on revoit de temps en temps.
</p>

<p>
<strong>David Gourdelier as david starring robot admin</strong><br />
Je ne connaissais rien quand je suis arrivé en ing2. J'ai tout appris dans l'organisation. J'essaye de bien le lui rendre. On me reproche souvent ma froideur et mon style robot : j'ai fait beaucoup d'admin réseau depuis l'ing2. J'essaye de perfectionner mon PPC oral pour ne plus passer pour un robot. Concernant l'écrit, pas de problèmes.
</p>

<p>
<strong>Franck Nouyrigat as francky starring l'animateur</strong><br />
L'inverse de moi. Très fort à l'oral. Indispensable pour mettre de l'ambiance et animer votre soirée, faites appel à francky. Lui ausi a appris beaucoup de choses à l'organisation. Lui aussi essaye de bien les rendre.
</p>

<p>
<strong>Benoit-Pierre Demaine as doublehp starring hardware man</strong><br />
L'homme qui sait parler aux machines. Un Doublehp conçu pour tous vos travaux élèctriques résiste au 220V. En plus le doublehp met à jour constamment sa base de données concernant votre matériel. Rapide, il retrouve celui-ci en quelques secondes. En une minute il vous le fait marcher. Bref le moteur de votre organisation!. Un seul inconvénient, il est parfois assez difficile à supporter au début. En plus il nous a aussi fait un cadeau récemment.
</p>

<p>
<strong>Guillaume Faussard as bibite starring Talc man</strong><br />
Il a lui aussi fait un beau cadeau récemment. Le seul problème c'est qu'il dispose de l'ADSL.
</p>

<p>
<strong>Didier Richard as didier starring Sun man</strong><br />
Arrivé un peu tard, il s'est rattrapé en faisant pas mal d'administration notamment sur les Sun et en prenant une part active dans les actions de l'organisation.
</p>

<p>
<strong>Nicolas Allain as nykola starring admin malgre lui</strong><br />
Est un développeur logiciel sans faille. Il maîtrise la conception objet comme personne et notamment en Java et C++. Il a de de l'expérience en développement 3D et est toujours ravi de partager ses connaissances avec les membres.<br />
Nicolas ALLAIN est décédé le 01/09/2007.
</p>

<p>
<strong>Sébastien Salou as Epoque51 starring Merlin l'enchanteur</strong><br />
L'organisation lui a permis de passer expert dans les systems UNIX et leur administration. Président pendant 3 ans, de 2003 à 2006, s'adaptant à tout type de situation et à tout type de public, bénéficiant de l'expérience de ses prédécesseurs, il maitrise désormais le PPC sur le bout des doigts.
</p>

<p>
<strong>Anisse Astier as Aissen</strong><br />
L'homme qui parlait à l'oreille des kernels. Encore des années après, l'énergie insufflée est présente de facon latente dans les logs du monde entier.
</p>

<p>
<strong>Baptiste Michaud as Bactisme</strong><br />
</p>

        </div>
    </div>
</div>

{% endblock %}
