{% extends "pages/base.html" %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Liste des pages</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="home-app-title">
            <h1>
                Pages
            </h1>
        </div>

        <div class="large-12">
            <ul>
                <li><a href="{% url 'pages:apropos' %}">À propos</a></li>
                <li><a href="{% url 'pages:cookies' %}">Cookies</a></li>
                <!--<li><a href="{% url 'pages:hallOfFame' %}">Hall of fame</a></li>-->
                <li><a target="_blank" href="http://irc.iteam.org">IRC</a></li>
                <li><a target="_blank" href="http://ece.fr">ECE</a></li>
                <li><a target="_blank" href="https://www.facebook.com/pages/iTeam/125145820901130">Facebook</a></li>
                <li><a target="_blank" href="https://twitter.com/iteam">Twitter</a></li>
                <li><a target="_blank" href="http://www.meetup.com/iTeam-org/">Meetup</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

