{% extends "pages/base.html" %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Liste des liens</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="home-app-title">
            <h1>
                Liens
            </h1>
        </div>

        <div class="large-12">
            <h2>Blogs</h2>
            <ul>
                <li><a target="_blank" href="https://criticalgeek.wordpress.com/">Critical geek</a> : Critical geek</li>
                <li><a target="_blank" href="http://www.frandroid.com/">fr Android</a> : Site communautaire dédié à Android, plate-forme mobile de google, les téléphones mobiles et la mobilité en général</li>
                <li><a target="_blank" href="http://www.paug.fr/">PAUG</a> : PAUG ou Paris Android User Group et un groupe réunissant des professionnels et passionnés parisiens autour d'Android.</li>
                <li><a target="_blank" href="http://www.paris-gtug.org/">Paris gtug</a> : Le Google Technology User Group de Paris est l'occassion de se tenir informé des dernières conférences et nouveautés à propos des technologies de gooogles.</li>
                <li><a target="_blank" href="http://irp.nain-t.net/doku.php/start">irp.nain-t.net</a> : Une mini-bible pour débutant sur les réseaux TCP/IP qui n'auront plus de secret pour vous ! :)</li>
                <li><a target="_blank" href="http://www.eyrolles.com/">Eyrolles</a> : Le site des librairies Eyrolles : éditeur de livres spécialisés, informatique, sciences et techniques, etc, bref, l'endroit où aller si vous chercher un livre spécialisé</li>
                <li><a target="_blank" href="http://webplay.fr/">webplay</a> : Site personnel de Baptiste Michaud, éléve ingénieur à l'école centrale d'électronique</li>
                <li><a target="_blank" href="http://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Accueil_principal">Wikipedia</a> : Wikipédia ou le gardien du savoir universelle, regorges d'articles à nature encyclopédique sur tous les sujets, créés et édités bénévolement par des contributeurs anonymes. Wiki basé sur le logiciel libre Mediawiki.</li>
            </ul>
            <h2>Linux</h2>
            <ul>
                <li><a target="_blank" href="https://www.mozilla.org/fr/">Mozilla</a> : Le site web fr de la fondation Mozilla à l'origine de firefox</li>
                <li><a target="_blank" href="http://ubuntu-fr.org/">Ubuntu-fr</a> : La communauté francophone d'utilisateurs d'Ubuntu, une mine d'information en fr sur cet OS avec un forum très active Joomala, le CMS (content managment framework) du site de l'iTeam</li>
                <li><a target="_blank" href="http://www.joomla.org/">Joomla</a> : MySQL un SGBD libre et gratuit.</li>
                <li><a target="_blank" href="http://www.mysql.com/">MySQL</a> : PHP, un langage universel de développement de site web</li>
                <li><a target="_blank" href="http://php.net/">PHP</a> : Exploits Database qui contient plusieurs exploits publics</li>
            </ul>
            <h2>Sécu</h2>
            <ul>
                <li><a target="_blank" href="http://www.exploit-db.com/">Exploit-db</a> : Quelques "crack me" pour passer le temps</li>
                <li><a target="_blank" href="http://jardinezchezjb.free.fr/">Jardinezchezjb</a> : Jardinezchezjb</li>
                <li><a target="_blank" href="http://packetstormsecurity.com/">Packetstormsecurity</a> : Le site de PacketStorm qui agrège des feeds RSS liés à la sécurité informatique.</li>
                <li><a target="_blank" href="http://www.phrack.org/">phrack</a> : Le magazine Phrack, une référence des webzines en sécurité informatique.</li>
            </ul>
            <h2>Site web associatifs</h2>
            <ul>
                <li><a target="_blank" href="https://www.flickr.com/photos/iteam-ece/">flickr</a> : Voici notre compte Flickr où vous y retrouverez une très belle collection de photos des moments forts de la vie associative iTeamienne</li>
                <li><a target="_blank" href="http://www.ece.fr/ecole-ingenieur/">ECE</a> : Fondée en 1919, l'ECE est une école d'ingénieur généraliste et high-tech habilitée CTI à Paris.</li>
                <li><a target="_blank" href="http://www.ece.fr/ecole-ingenieur/vie-etudiante-2014/">Vie étudiante</a> : Portail des assos ECE avec l'actualité associative de l'école.</li>
                <li><a target="_blank" href="http://jbtv.ece.fr/">Jbtv</a> : La JBTV est l'association des média numérique de l'ECE et s'occupe de la retransmission des conférences de User Group accueillit à l'ECE</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

