

header
{
    background-image: url('../img/header_background.png');
    background-color: darken($topbar-bg-color, 10%);
    color: white;

    h1
    {
        color: white;
        font-weight: normal;
    }
}

.home-app-title
{
    margin-bottom: emCalc(10em);
    border-bottom: solid 1px #ddd;
}

.headline-actions{margin-top:1.5em}
@media only screen and (min-width: 768px)
{
    .headline-actions{float:right}
}


textarea { height: auto; }
