

header
{
    background-image: url('../img/header_background.png');
    background-color: darken($topbar-bg-color, 10%);
    color: white;

    h1
    {
        color: white;
        font-weight: normal;
    }
}

.home-app-title
{
    margin-bottom: emCalc(10em);
    border-bottom: solid 1px #ddd;
}

textarea { height: auto; }

/* events (weekly and montly views) */

/**/
table
{
    width: 80%;
    margin: auto;
}
/**/
tr
{
    width: 100%;
}

td, th
{
    /*border: 1px solid rgb(128, 128, 128);*/
    /**/border: 3px solid white;
    width: 14%;
    height: 50px;
}

th
{
    background-color: rgb(235, 235, 235);
}

td
{
    background-color: rgb(245, 245, 245);
}

td div
{
    width: 100%;
}

td .text
{
    height: 100%;
}

$color: darken($iteam_base_color, 10%);

td:hover
{
    background-color: $color;
}

.today
{
    background-color: $color;
}
/**/

/* warning box (for edit publication) */
.warning
{
  @include alert(
    $bg: rgb(240, 138, 36)
  );
}

/* button for all admin / publisher actions */
.button-admin
{
  @include button(
    $bg: rgb(240, 138, 36)

  );
}

/* breadcrumbs */
.breadcrumbs
{
    margin-top: 20px;
}

