

header
{
    background-image: url('../img/header_background.png');
    background-color: darken($topbar-bg-color, 10%);
    color: white;

    h1
    {
        color: white;
        font-weight: normal;
    }
}

.home-app-title
{
    margin-bottom: emCalc(16em);
    border-bottom: solid 1px #ddd;
}

/* warning box (for edit publication) */
.warning
{
  @include alert(
    $bg: rgb(240, 138, 36)
  );
}

/* button for all admin and publisher actions */
.button-admin
{
  @include button(
    $bg: rgb(240, 138, 36)

  );
}

/* breadcrumbs */
.breadcrumbs
{
    margin-top: 20px;
}

textarea { height: auto; }

/******************************************
* TABLE (event / weekly and montly views) *
******************************************/

$custom_table_color: rgb(255, 255, 255);

.custom_table_event
{
    table
    {
        width: 100%;
        margin: auto;
    }

    td, th
    {
        border: 3px solid white;
        width: 12%; /* 12=100/8 */
        height: 50px;
    }

    th
    {
        background-color: darken($custom_table_color, 25%);
    }

    td
    {
        background-color: darken($custom_table_color, 15%);

        div
        {
            width: 100%;
        }

        .text
        {
            height: 100%;
        }
    }

    .today
    {
        background-color: lighten($iteam_base_color, 0%);
    }

    .noday
    {
        background-color: darken($custom_table_color, 5%);
    }
}
