<div class="row">
    <div class="large-12 columns member_publications_table">

        <table width="100%">
            <thead>
                <tr>
                    {% if profile_detail.user == profile_request.user or profile_request.is_admin %}
                        <th width="30%">Titre</th>
                        <th width="50%">Introduction</th>
                        <th width="20%">Actions</th>
                    {% else %}
                        <th width="40%">Titre</th>
                        <th width="60%">Introduction</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for data in data_list %}
                    <tr>
                        <td>
                            <div class="row" width="100%">
                                <div class="large-3 hide-for-small columns">
                                    <img src="{{ data.image_url }}" alt="" width="50" />
                                </div>
                                <div class="large-9 small-12 columns">
                                    <p>
                                        <a href="{{ data.get_absolute_url }}">
                                            {{ data.title }}
                                        </a>
                                        <br />
                                        {{ data.subtitle }}
                                    </p>
                                </div>
                            </div>
                        </td>

                        <td>
                            <p>
                                {{ data.text|slice:":200" }} [...]
                            </p>
                        </td>

                        {% if profile_detail.user == profile_request.user or profile_request.is_admin %}
                            <td>
                                <div class="button-group">
                                    <a href="{% url 'publications:edit' data.pk %}" class="button-admin button small">
                                        Éditer
                                    </a>
                                    {% if data.is_draft %}
                                        <form action="{{ data.get_absolute_url }}" method="post">
                                            {% csrf_token %}
                                            <button name="toggle_draft" class="button-admin button small">
                                                Publier
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
