{% extends "publications/base.html" %}

{% block title_page %}
    {% if user.is_authenticated and profile_detail.user == user %}
        Mes publications &#183;
    {% else %}
        Publications de {{ profile_detail.user.get_username }} &#183;
    {% endif %}
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">{{ profile_detail.user.get_username }}</a></li>
{% endblock %}


{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-9 columns">
                    <h1>
                        {% if user.is_authenticated and profile_detail.user == user %}
                            Mes publications
                        {% else %}
                            Publications de {{ profile_detail.user.get_username }}
                        {% endif %}
                    </h1>
                </div>
                {% if user.is_authenticated and user.profile.is_publisher %}
                    <div class="large-3 columns">
                        <a href="{% url 'publications:create' %}" class="button-admin button small right">
                            Rédigez une publication
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        {# content #}
        <div class="row">
            <div class="large-12 columns">
                <h3>Écrits publiés :</h3>
                {% if publications_list %}
                    {% with data_list=publications_list %}
                        {% include "publications/by_author.table.html" %}
                    {% endwith %}
                {% else %}
                    <p>Aucunes publications trouvées.</p>
                {% endif %}

                {% if profile_detail.user == profile_request.user or profile_request.is_admin %}
                    <h3>Brouillons :</h3>
                    {% if publications_draft_list %}
                        {% with data_list=publications_draft_list %}
                            {% include "publications/by_author.table.html" %}
                        {% endwith %}
                    {% else %}
                        <p>Aucuns brouillons trouvés.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}

