{% extends "publications/base.html" %}

{% block title_page %}
    Rédiger une publication &#183;
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-8 columns">
        <h1>
            Rédiger une publication
        </h1>
        <p>
            {% if msg %}
            <small class="error">{{ msg }}</small>
            {% endif %}
        </p>
                </div>
            </div>
        </div>
        {# content #}
        <div class="row">
            <div class="large-12 columns">
        <form action="{% url 'publications:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="large-6 columns">
                    <label>Titre
                        <input type="text" placeholder="Titre" name="title" />
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>Sous-titre (optionnel)
                        <input type="text" placeholder="Sous-titre" name="subtitle" />
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <label>Image (optionnelle)
                       <input type="file" name="image">
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>Type de la publication
                        <select name="type">
                            <option value="P">Publication</option>
                            <option value="N">News</option>
                            <option value="T">Tutoriel</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Texte
                        <textarea placeholder="Texte" name="text" rows="20" ></textarea>
                    </label>
                </div>
            </div>

            <input type="submit" value="Publier" class="button" />
        </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
