{% extends "publications/base.html" %}

{% load publications_tags %}

{% block title_page %}
    Détail d'une publication &#183;
{% endblock %}

{% block content %}

{# title #}
<div class="row">
    <div class="large-12 columns">
        <div class="home-app-title">
            <div class="row">
                <div class="large-10 columns">
                    <h1>
                        <span>
                            <img src="{{ publication.image_url }}" width="100" class="hide-for-small"/>
                        </span>
                        {{ publication.title }}
                        <small>
                            {{ publication.subtitle }}
                            <br />
                            {{ publication.get_type_display }} rédigée avec amour par
                            <a href="{% url 'member:detail' user_name=publication.author %}">{{ publication.author }}</a>
                            le {{ publication.pub_date|date:"d F Y" }}
                        </small>
                    </h1>
                </div>
                <div class="large-2 columns">
                    <div class="headline-actions">
                        {% if user.is_authenticated and user == publication.author %}
                            <div class="row right">
                                <div class="large-12 columns">
                                    <a href="{% url 'publications:edit' publication_id=publication.pk %}" class="button small">
                                        Éditer la publication
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {# content #}

        <div class="row">
            <div class="large-10 columns large-offset-1">
                {{ publication.text|iteam_markdown }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

