{% extends "publications/base.html" %}

{% load publications_tags %}

{% block title_page %}
    Détail d'une publication &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">{{ publication.title }}</a></li>
{% endblock %}

{% block content %}

{# title #}
<div class="row">
    <div class="large-12 columns">
        <div class="home-app-title">
            <div class="row">
                <div class="large-10 columns">
                    <h1>
                        <span>
                            <img src="{{ publication.image_url }}" width="100" class="hide-for-small" alt="" />
                        </span>
                        {{ publication.title }}
                        <small>
                            {{ publication.subtitle }}
                            <br />
                            {{ publication.get_type_display }} rédigé{% if publication.type != 'T' %}e{% endif %} par
                            <a href="{% url 'member:detail' user_name=publication.author %}">{{ publication.author }}</a>
                            le {{ publication.pub_date|date:"d F Y" }}
                        </small>
                    </h1>
                </div>
                <div class="large-2 columns">
                    {% if user == publication.author or user.profile.is_admin %}
                        <div class="row">
                            <div class="large-12 columns">
                                <a href="{% url 'publications:edit' publication_id=publication.pk %}" class="button-admin right">
                                    Éditer
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if publication.is_draft %}
                        <div class="row">
                            <div class="large-12 columns">
                                <form action="{{ publication.get_absolute_url }}" method="post">
                                    {% csrf_token %}
                                    <button name="toggle_draft" class="button-admin right">
                                        Publier
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {# content #}

        <div class="row">
            <div class="large-12 columns">
                {{ publication.text|iteam_markdown }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

