{% extends "publications/base.html" %}

{% load static %}
{% load publications_tags %}

{% block title_page %}
    Éditer une publication &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Éditer</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-12 columns">
                    <h1>
                        Éditer une publication
                    </h1>
                </div>
            </div>
        </div>
        {# Error / warning #}
        <div class="row">
            <div class="large-12 columns">
                {% if not publication.is_draft %}
                    <div data-alert class="alert-box warning round">
                        Attention, ce texte a déjà été publié ! Pour ne pas perdre les lecteurs, explicitez vos modifications.
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endif %}
                {% if editing_as_admin %}
                    <div data-alert class="alert-box warning round">
                        Attention, en tant qu'administrateur vous éditez une publication dont vous n'êtes pas l'auteur. Soyez encore plus prudent.
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {# content #}
        <div class="row">
            <div class="large-12 columns">
                <form action="{% url 'publications:edit' publication_pk %}" method="post" enctype="multipart/form-data">
                    {% include "publications/form.part.html" %}
                </form>
            </div>
        </div>

        {# Prévisualization #}
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <h4>Prévisualisation de votre publication :</h4>
                    {{ form.text.value|iteam_markdown }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
