{% extends "publications/base.html" %}

{% block title_page %}
    Éditer une publication &#183;
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-8 columns">
        <h1>
            Éditer une publication
        </h1>
        <p>
            {% if msg %}
            <small class="error">{{ msg }}</small>
            {% endif %}
        </p>

                </div>
            </div>
        </div>
        {# content #}
        <div class="row">
            <div class="large-12 columns">

        <form action="{% url 'publications:edit' publication_id=publication.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="large-6 columns">
                    <label>Titre
                        <input type="text" placeholder="Titre" name="title" value="{{ publication.title }}" />
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>Sous-titre (optionnel)
                        <input type="text" placeholder="Sous-titre" name="subtitle" value="{{ publication.subtitle }}" />
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <label>Image (optionnelle)
                       <input type="file" name="image">
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>Type de la publication
                        <select name="type">
                            <option value="P" {% if publication.type == "P" %}selected{% endif %}>Publication</option>
                            <option value="N" {% if publication.type == "N" %}selected{% endif %}>News</option>
                            <option value="T" {% if publication.type == "T" %}selected{% endif %}>Tutoriel</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Texte
                        <textarea placeholder="Texte" name="text" rows="20" >{{ publication.text|safe }}</textarea>
                    </label>
                </div>
            </div>

            <input type="submit" value="Éditer" class="button" />
        </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
