    {% csrf_token %}

    <fieldset>
        <legend>Titre et sous-titre</legend>

        {{ form.title.label_tag }}
        {{ form.title }}
        {% for error in form.title.errors %}
            <small class="error">{{ error }}</small>
        {% endfor %}

        {{ form.subtitle.label_tag }}
        {{ form.subtitle }}
        {% for error in form.subtitle.errors %}
            <small class="error">{{ error }}</small>
        {% endfor %}
    </fieldset>

    <fieldset>
        <legend>Options</legend>

            {{ form.image.label_tag }}
            {{ form.image }}
            {% for error in form.image.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}

            {{ form.type.label_tag }}
            {{ form.type }}
            {% for error in form.type.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}

            {{ form.is_draft.label_tag }}
            {{ form.is_draft }}
            {% for error in form.is_draft.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
    </fieldset>

    <fieldset>
        <legend>Texte :</legend>
            {{ form.text }}
            {% for error in form.text.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
    </fieldset>

    <div class="large-12 columns" style="text-align: center">
        <input type="submit" value="Enregistrer" class="button radius" />
        <button name="preview" class="button radius secondary">Prévisualiser</button>
    </div>
