    {% csrf_token %}

    <fieldset>
        <legend>Titre et sous-titre</legend>

        <input type="text" placeholder="Titre" name="title" id="title" value="{{ publication.title }}" />
        <input type="text" placeholder="Sous-titre (optionnel)" name="subtitle" id="subtitle" value="{{ publication.subtitle }}" />
    </fieldset>

    <fieldset>
        <legend>Options</legend>
        <p>
            <label for="image">Image (optionnelle) :</label>
            <input type="file" name="image" id="image">

            <label>Type de la publication :</label>
            <select name="type">
                <option value="P" {% if publication.type == "P" %}selected{% endif %}>Autre</option>
                <option value="N" {% if publication.type == "N" %}selected{% endif %}>News</option>
                <option value="T" {% if publication.type == "T" %}selected{% endif %}>Tutoriel</option>
            </select>

            <label>Status de la publication :</label>
            <input type="radio" name="is_draft" value="1" {% if publication.is_draft %}checked{% endif %} /> Brouillon<br />
            <input type="radio" name="is_draft" value="0" {% if not publication.is_draft %}checked{% endif %} /> Publier immédiatement
        </p>
    </fieldset>

    <fieldset>
        <legend>Texte :</legend>

        <textarea placeholder="Texte" name="text" rows="30" >{{ publication.text|safe }}</textarea>
    </fieldset>

    <div class="small-4 small-offset-4" >
        <input type="submit" value="Enregistrer" class="button radius expand" />
    </div>
