<div class="row">
    <div class="large-2 columns">
        <a href="{% url 'publications:detail' publication_id=publication.pk %}">
            <img src="{{ publication.image_url }}" class="hide-for-small" alt="image of publication" />
        </a>
    </div>
    <div class="large-10 columns">
        <p>
            <a href="{% url 'publications:detail' publication_id=publication.pk %}">
                {{ publication.title }}
            </a>
            <br />
            {{ publication.subtitle }}
        </p>
    </div>
</div>
