{% extends "publications/base.html" %}

{% block title_page %}
    Liste des publications &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-7 columns">
                    <h1>
                        Liste des publications
                        <br />
                        <small>
                            L'actualité de l'iTeam
                        </small>
                    </h1>
                </div>
                <div class="large-5 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            <dl class="sub-nav right">
                                <dt>Filtrer :</dt>
                                <dd class="{{ type_all }}"><a href="?">Tout</a></dd>
                                {% for abr, type in types %}
                                    <dd class="{% if cur_type == abr %}active{% endif %}">
                                        <a href="?type={{ abr }}">{{ type }}</a>
                                    </dd>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                    {% if user.is_authenticated and user.profile.is_publisher %}
                        <div class="row">
                            <div class="large-12 columns">
                                <a href="{% url 'publications:create' %}" class="button-admin small right">
                                    Rédigez une publication
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {# content #}
        <div class="row">
            <div class="large-6 columns">
                {% for publication in data %}
                    {% if forloop.counter <= 5 %}
                        {% include "publications/index.part.html" %}
                    {% endif %}
                {% empty %}
                    <p>Aucunes publications trouvées.</p>
                {% endfor %}
            </div>
            <div class="large-6 columns">
                {% for publication in data %}
                    {% if forloop.counter > 5 %}
                        {% include "publications/index.part.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {# paginator #}
        <div class="pagination-centered">
            <ul class="pagination">
                {% for i in data.paginator.page_range %}
                    <li class="{% if data.number == i %}current{% endif %}">
                        <a href="?page={{ i }}&type={{ cur_type }}">{{ i }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
