{% extends "news/base.html" %}

{% load staticfiles %}

{% block title_page %}
    Nouvelle news
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-6 large-offset-1 columns">
        <h1>
            Rédiger une news
        </h1>
        <p>
            {% if msg %}
            <small class="error">{{ msg }}</small>
            {% endif %}
        </p>
    </div>

    <hr />

    <div class="large-10 large-offset-1 columns">
    
        <form action="{% url 'news:create' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="large-6 columns">
                    <label>Titre
                        <input type="text" placeholder="Titre" name="title" />
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>Sous-titre
                        <input type="text" placeholder="Sous-titre" name="subtitle" />
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Texte
                        <textarea placeholder="Texte" name="text" ></textarea>
                    </label>
                </div>
            </div>

            <input type="submit" value="Creer" class="button" />
        </form>
    </div>
</div>

{% endblock %}
