{% extends "news/base.html" %}

{% load staticfiles %}
{% load news_tags %}

{% block title_page %}
    Détail d'une news
{% endblock %}

{% block meta %}
    <meta name="description" content="Les forums vous permettent de venir poser vos questions aux autres membres mais aussi de s'entrainer ou tout simplement de discuter. Cela fonctionne également dans l'autre sens : vous pouvez ici aider les autres et proposer des exercices au reste de la communauté." />
{% endblock %}

{% block content %}

{# title #}        
<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-8 columns large-offset-1">
                <h1>
                    <span>
                        <img src="/static/img/todo1.jpg" width="50" class="hide-for-small"/>
                    </span>
                    {{ news.title }}{% if news.subtitle %} <small>{{ news.subtitle }}</small>{% endif %}
                    <br />
                    <small>
                        News rédigée par <em>{{ news.author }}</em> le {{ news.pub_date|date:"d-m-Y" }}
                    </small>
                </h1>
            </div>
        </div>
    </div>
</div>

<hr />

{# content #}
<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-10 columns large-offset-1">
                {% if news %}
                    <p>{{ news.text|iteam_markdown }}</p>
                {% else %}
                    <p>Error : news not found (kind of 404).</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

