{% extends "news/base.html" %}

{% load staticfiles %}
{% load news_tags %}

{% block title_page %}
    Détail d'une news &#183;
{% endblock %}

{% block content %}

{# title #}
<div class="row">
    <div class="large-12 columns">
        <h1>
            <span>
                <img src="{{ news.image_url }}" width="100" class="hide-for-small"/>
            </span>
            {{ news.title }}
            <small>
                {{ news.subtitle }}
                <br />
                News rédigée avec amour par
                <a href="{% url 'member:detail' user_name=news.author %}">{{ news.author }}</a>
                le {{ news.pub_date|date:"d F Y" }}
            </small>
        </h2>
    </div>
</div>

<hr />

{# content #}

<div class="row">
    <div class="large-10 columns large-offset-1">
        {% if news %}
            {{ news.text|iteam_markdown }}
        {% else %}
            <p>
                Error : news not found (kind of 404).
            </p>
        {% endif %}
    </div>
</div>

{% endblock %}

