{% extends "news/base.html" %}

{% block title_page %}
    Éditer une news &#183;
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-10 large-offset-1 columns">
        <h1>
            Éditer une news
        </h1>
        <p>
            {% if msg %}
            <small class="error">{{ msg }}</small>
            {% endif %}
        </p>
    </div>

    <hr />

    <div class="large-10 large-offset-1 columns">

        <form action="{% url 'news:edit' news_id=news.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="large-6 columns">
                    <label>Titre
                        <input type="text" placeholder="Titre" name="title" value="{{ news.title }}" />
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>Sous-titre (optionnel)
                        <input type="text" placeholder="Sous-titre" name="subtitle" value="{{ news.subtitle }}" />
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <label>Image (optionnelle)
                       <input type="file" name="image">
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>Type de la publication
                        <select name="type">
                            <option value="P" {% if news.type == "P" %}selected{% endif %}>Publication</option>
                            <option value="N" {% if news.type == "N" %}selected{% endif %}>News</option>
                            <option value="T" {% if news.type == "T" %}selected{% endif %}>Tutoriel</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Texte
                        <textarea placeholder="Texte" name="text" rows="20" >{{ news.text|safe }}</textarea>
                    </label>
                </div>
            </div>

            <input type="submit" value="Éditer" class="button" />
        </form>
    </div>
</div>

{% endblock %}
