{% extends "news/base.html" %}

{% load staticfiles %}

{% block title_page %}
    Liste des news &#183;
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">

            <div class="row">
                <div class="large-8 columns">
                    <h1>
                        Liste des news
                        <br />
                        <small>
                            L'actualité de l'iTeam
                        </small>
                    </h1>
                </div>
                <div class="large-4 columns">
                    <div class="headline-actions">
                        {% if user.is_authenticated %}
                            <a href="create" class="button">
                                Rédigez une news
                            </a>
                        {% endif %}
                        <dl class="sub-nav">
                            <dt>Filtrer:</dt>
                            <dd class="active"><a href="#">Tout</a></dd>
                            <dd><a href="#">News</a></dd>
                            <dd><a href="#">Tuto</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        {# content #}
        <div class="large-12 columns">
            <div class="row">
                <div class="large-6 columns">
                    {% if data %}
                        {% for news in data %}
                            {% if forloop.counter <= 5 %}
                                {% include "news/index.part.html" %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>No news are available.</p>
                    {% endif %}
                </div>
                <div class="large-6 columns">
                    {% if data %}
                        {% for news in data %}
                            {% if forloop.counter > 5 %}
                                {% include "news/index.part.html" %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>No news are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="large-12 columns">
            {% include "misc/pagination.part.html" %}
        </div>
    </div>
</div>


{% endblock %}
