{% extends "news/base.html" %}

{% load staticfiles %}

{% block title_page %}
    Liste des news &#183;
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-8 columns">
                    <h1>
                        Liste des news
                        <br />
                        <small>
                            L'actualité de l'iTeam
                        </small>
                    </h1>
                </div>
                <div class="large-4 columns">
                    <div class="headline-actions">
                        {% if user.is_authenticated %}
                            <div class="row right">
                                <div class="large-12 columns">
                                    <a href="{% url 'news:create' %}" class="button small">
                                        Rédigez une publication
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row right">
                            <div class="large-12 columns">
                                <dl class="sub-nav">
                                    <dt>Filtrer :</dt>
                                    <dd class="{{ type_all }}"><a href="?">Tout</a></dd>
                                    <dd class="{{ type_N }}"><a href="?type=N">News</a></dd>
                                    <dd class="{{ type_T }}"><a href="?type=T">Tutoriels</a></dd>
                                    <dd class="{{ type_P }}"><a href="?type=P">Autres</a></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# content #}
        <div class="row">
            <div class="large-6 columns">
                {% if data %}
                    {% for news in data %}
                        {% if forloop.counter <= 5 %}
                            {% include "news/index.part.html" %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No news are available.</p>
                {% endif %}
            </div>
            <div class="large-6 columns">
                {% if data %}
                    {% for news in data %}
                        {% if forloop.counter > 5 %}
                            {% include "news/index.part.html" %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No news are available.</p>
                {% endif %}
            </div>
        </div>

        {# paginator #}
        <div class="pagination-centered">
            <ul class="pagination">
                {% for i in data.paginator.page_range %}
                    <li class="{% if data.number == i %}current{% endif %}">
                        <a href="?page={{ i }}&type={{ cur_type }}">{{ i }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
