{% extends "base.html" %}

{% load staticfiles %}

{% block title_app %}
    Erreur 404
{% endblock %}

{% block header %}
    <h1>
        Bienvenue
    </h1>
    <p>
        L'iTeam est une association pour la promotion du logiciel libre de l'ECE.<br />
        Passez nous voir en P404 !
    </p>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Il semblerait que ce que vous cherchiez ne se trouve plus ici.
        </p>
    </div>
</div>

{% endblock %}
