{% extends "base.html" %}

{% load staticfiles %}

{% block title_app %}
    Erreur 404
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Erreur 404</a></li>
{% endblock %}


{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-12 columns">
                    <h1>
                        Erreur 404
                    </h1>
                </div>
            </div>
        </div>
        {# content #}
        <div class="row">
            <div class="large-12 columns">
                <p>
                    La page demandée n'a pas été trouvée.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
