{% load staticfiles %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>
        {% block title_page %}{% endblock %}
        {% block title_app %}{% endblock %}
        iTeam.org
    </title>

    {# meta #}
    <meta name="language" content="fr">
    <meta http-equiv="content-language" content="fr">
    <link rel="alternate" href="https://iteam.org/" hreflang="fr-fr" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="L'iTeam est l'association de promotion du logiciel libre et de l'open source à l'ECE Paris : elle propose des formations et monte des projets dans le domaine des réseaux et de la sécurité.">
    <meta name="keywords" content="iteam, association, étudiant, promotion, logiciel libre, open source, formations, conférences">

    <meta name="google-site-verification" content="-V-GkrrNB6_Exru2cDjfCtw4CljjaaIDWtHpRxZEmTU" />

    {# og #}
    <meta property="og:site_name" content="iTeam.org" />
    <meta property="og:title" content="iTeam" />
    <meta property="og:url" content="https://iteam.org/{{ request.path }}" />
    <meta property="og:language" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://iteam.org{% static "images/logo_full_095.png" %}" />

    {# css #}
    <link href="{% static "stylesheets/app.css" %}" media="all" rel="stylesheet" type="text/css" />

    {# icon #}
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}" />
    <link rel="image_src" href="{% static "images/logo_full.png" %}" /> {# facebook #}
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}" /> {# apple #}

    {# rss #}
    <link rel="alternate" type="application/rss+xml" title="Publications" href="/publications/feed/rss/"/>
    <link rel="alternate" type="application/rss+xml" title="Événements" href="/events/feed/rss/"/>
</head>

<!--

#################################################################
#                                                               #
#  #####  #####  #####   ###    #    #      ###   ####    ####  #
#    #      #    #      #   #   ##  ##     #   #  #   #  #      #
#    #      #    ####   #####   # ## #     #   #  ####   #  ##  #
#    #      #    #      #   #   #    #     #   #  #  #   #   #  #
#  #####    #    #####  #   #   #    #  #   ###   #   #   ###   #
#                                                               #
#################################################################

FYI : You just lost the Game ! <3

-->

<body>
    <div id="h"></div>

    <!--[if lt IE 8]>
        <div class="browsehappy">
            Vous utilisez un navigateur dépassé. Merci de
            <a href="http://browsehappy.com/">mettre à jour celui-ci</a> pour
            améliorer votre expérience.
        </div>
    <![endif]-->

    <div class="warning_js">
        Votre javascript semble désactivé. Ce site l'utilise avec parcimonie et
        nous vous conseillons de le réactiver.
    </div>

    {#  Top bar : menu #}
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <a href="/">
                    <span>
                        <img src="{% static "images/logo_light.png" %}" alt="logo_light" />
                    </span>
                </a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="left">
                <li class="{% block menu_publications %}{% endblock %}">
                    <a href="{% url 'publications:index' %}">Publications</a>
                </li>
                <li class="{% block menu_events %}{% endblock %}">
                    <a href="{% url 'events:index_list' %}">Événements</a>
                </li>
            </ul>

            <ul class="right">
                {% if user.is_authenticated %}
                    <li class="{% block menu_member_profil %}{% endblock %}">
                        <a href="{% url 'member:detail' user_name=user.username %}">Profil</a>
                    </li>
                    <li class="{% block menu_member_logout %}{% endblock %}">
                        <a href="{% url 'member:logout_view' %}" onclick="document.getElementById('disconnect_form').submit(); return false;">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="{% block menu_register %}{% endblock %}">
                        <a href="{% url 'member:register_view' %}">Inscription</a>
                    </li>
                    <li class="{% block menu_login %}{% endblock %}">
                        <a href="{% url 'member:login_view' %}{% if request.path != '/' %}?next={{ request.path }}{% endif %}">
                            Connexion
                        </a>
                    </li>
                {% endif %}
            </ul>
        </section>
    </nav>

    {# header for home page #}
    {% block header %}{% endblock %}

    {# breadcrumbs #}
    <div class="row hide-for-small">
        <div class="large-12 columns">
            <ul class="breadcrumbs">
                <li><a href="{% url 'iTeam.pages.views.home' %}">Accueil</a></li>
                {% block breadcrumb_app %}{% endblock %}
                {% block breadcrumb_page %}{% endblock %}
            </ul>
        </div>
    </div>

    {% block content %}{% endblock %}

    {# Footer - duplicate menu for mobile layout #}
    <hr />
    <footer class="row">
        <div class="large-6 columns">
            <p>
                iTeam 2014 - <a href="https://github.com/Nodraak/iteam-site">Open source ({{ git_version }})</a> - <a href="{% url 'pages:apropos' %}">À propos</a>
            </p>
        </div>
        <div class="large-6 columns hide-for-medium hide-for-large hide-for-xlarge hide-for-xxlarge">
            <ul class="inline-list left">
                {% include "footer.part.html" %}
            </ul>
        </div>
        <div class="large-6 columns hide-for-small">
            <ul class="inline-list right">
                {% include "footer.part.html" %}
            </ul>
        </div>
    </footer>

    {# Form used for CSRF protection on logout via js #}
    {% if user.is_authenticated %}
        <form id="disconnect_form" action="{% url 'member:logout_view' %}" method="post">
            {% csrf_token %}
        </form>
    {% endif %}

    {# js #}
    <script src="{% static "javascripts/vendor/jquery-1.10.2.min.js" %}"></script>
    {% javascript 'all' %}
    {% block extra_js %}{% endblock %}

    <script>
        $(document).foundation();
    </script>

    {% include "piwik.part.html" %}
</body>
</html>
