{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />

    <title>
        {% block title_page %}{% endblock %}
        {% block title_app %}{% endblock %}
        iTeam.org
    </title>

    {# meta #}
    <meta name="language" content="fr">
    <meta http-equiv="content-language" content="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="iTeam.org est le site d'une association de l'ECE pour la promotion du logiciel libre et de l'open source : par exemple le navigateur Firefox, la suite OpenOffice ou le système Linux.">

    {# og #}
    {# TODO <meta property="og:site_name" content="Zeste de Savoir"> #}

    {# css #}
    <link href="{% static "stylesheets/normalize.css" %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static "stylesheets/app.css" %}" media="all" rel="stylesheet" type="text/css" />

    {# icon #}
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}" />
    {# TODO icon for apple-touch-icon #}
</head>

<!--

#################################################################
#                                                               #
#  #####  #####  #####   ###    #    #      ###   ####    ####  #
#    #      #    #      #   #   ##  ##     #   #  #   #  #      #
#    #      #    ####   #####   # ## #     #   #  ####   #  ##  #
#    #      #    #      #   #   #    #     #   #  #  #   #   #  #
#  #####    #    #####  #   #   #    #  #   ###   #   #   ###   #
#                                                               #
#################################################################

Hello petit curieux !

-->

<body>
    <div id="h"></div>

    <!--[if lt IE 8]>
        <p class="chromeframe">
            Vous utilisez un navigateur <strong>dépassé</strong>. Merci de
            <a href="http://browsehappy.com/">mettre à jour celui-ci</a> pour
            améliorer votre expérience.
        </p>
    <![endif]-->

    <noscript>
        Votre javascript semble désactivé. Ce site l'utilise avec parcimonie :
        la seule fonction en dépendant est le menu sur mobile.
    </noscript>

    {#  Top bar : menu #}
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <a href="/">
                    <span>
                        <img src="{% static "img/logo_light.png" %}" alt="logo_light" />
                    </span>
                </a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="left">
                <li class="{% block menu_publications %}{% endblock %}">
                    <a href="{% url 'publications:index' %}">Publications</a>
                </li>
                <li class="{% block menu_events %}{% endblock %}">
                    <a href="{% url 'events:index_list' %}">Événements</a>
                </li>
            </ul>

            <ul class="right">
                {% if user.is_authenticated %}
                    <li class="{% block menu_member_profil %}{% endblock %}">
                        <a href="{% url 'member:detail' user_name=user.username %}">Profil</a>
                    </li>
                    <li class="{% block menu_member_logout %}{% endblock %}">
                        <a href="{% url 'member:logout_view' %}" onclick="document.getElementById('disconnect_form').submit(); return false;">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="{% block menu_register %}{% endblock %}">
                        <a href="{% url 'member:register_view' %}">Inscription</a>
                    </li>
                    <li class="{% block menu_login %}{% endblock %}">
                        <a href="{% url 'member:login_view' %}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </section>
    </nav>

    {# header for home page #}
    {% block header %}{% endblock %}

    {# breadcrumbs #}
    <div class="row hide-for-small">
        <div class="large-12 columns">
            <ul class="breadcrumbs">
                <li><a href="{% url 'iTeam.pages.views.home' %}">Accueil</a></li>
                {% block breadcrumb_app %}{% endblock %}
                {% block breadcrumb_page %}{% endblock %}
            </ul>
        </div>
    </div>

    {% block content %}{% endblock %}

    {# Footer - duplicate menu for mobile layout #}
    <hr />
    <footer class="row">
        <div class="large-6 columns">
            <p>
                iTeam 2014 - <a href="https://bitbucket.org/Nodraak">open source</a>
            </p>
        </div>
        <div class="large-6 columns hide-for-large hide-for-medium">
            <ul class="inline-list left">
                <li><a href="{% url 'pages:apropos' %}">À propos</a></li>
                <li><a href="{% url 'pages:cookies' %}">Cookies</a></li>
                <li><a href="{% url 'pages:hallOfFame' %}">Hall of fame</a></li>
                <li><a href="http://irc.iteam.org">IRC</a></li>
                <li><a href="http://ece.fr">ECE</a></li>
                <li><a href="#h">↑</a></li>
            </ul>
        </div>
        <div class="large-6 columns hide-for-small">
            <ul class="inline-list right">
                <li><a href="{% url 'pages:apropos' %}">À propos</a></li>
                <li><a href="{% url 'pages:cookies' %}">Cookies</a></li>
                <li><a href="{% url 'pages:hallOfFame' %}">Hall of fame</a></li>
                <li><a href="http://irc.iteam.org">IRC</a></li>
                <li><a href="http://ece.fr">ECE</a></li>
                <li><a href="#h">↑</a></li>
            </ul>
        </div>
    </footer>

    {# Form used for CSRF protection on logout via js #}
    {% if user.is_authenticated %}
        <form id="disconnect_form" action="{% url 'member:logout_view' %}" method="post">
            {% csrf_token %}
        </form>
    {% endif %}

    {# js #}
    <script src="{% static "javascripts/vendor/jquery.js" %}"></script>
    <script src="{% static "javascripts/foundation/foundation.js" %}"></script>
    <script src="{% static "javascripts/foundation/foundation.topbar.js" %}"></script>
    <script src="{% static "javascripts/foundation/foundation.alerts.js" %}"></script>

    <script>
        $(document).foundation();
    </script>

</body>
</html>
