{% extends "base.html" %}

{% load staticfiles %}

{% block title_app %}
    Accueil &#183;
{% endblock %}

{% block header %}
    <h1>
        Bienvenue
    </h1>
    <p>
        L'iTeam est une association pour la promotion du logiciel libre de l'ECE.<br />
        Passez nous voir en P404 !
    </p>
{% endblock %}

{% block content %}

<div class="row">
    {# PUBLICATIONS #}
    <div class="large-6 columns">
        <div class="home-app-title">
            <h2>
                <a href="{% url 'news:index' %}">
                    Publications
                </a>
            </h2>
        </div>
        {% if news_list %}
            {% for news in news_list %}
                <div class="row">
                    <div class="small-2 column" style="text-align: center;">
                        <a href="{% url 'news:detail' news_id=news.id %}">
                                <img src="{% static "img/tux.png" %}" alt="" width="50" />
                        </a>
                    </div>
                    <div class="small-10 column" style="padding-left: 5px;">
                        <a href="{% url 'news:detail' news_id=news.id %}">{{ news.title }}</a>
                        <p>Ecrit avec amour par
                            <a href="{% url 'member:detail' user_name=news.author %}">
                                {{ news.author }}
                            </a>
                            .
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <p>No news are available.</p>
            </div>
        {% endif %}
        <div class="row">
            <div style="text-align: center">
                <a href="{% url 'news:index' %}" class="button">
                    Aller aux news
                </a>
            </div>
        </div>
    </div>

    {# EVENT #}
    <div class="large-6 columns">
        <div class="home-app-title">
            <h2>
                <a href="#">
                    Events
                </a>
            </h2>
        </div>
        {% if data %}
            {% for news in data %}
                <div class="row">
                    <div class="small-2 column" style="text-align: center;">
                        <a href="{% url 'news:detail' news_id=news.id %}">
                                <img src="{% static "img/tux.png" %}" alt="" width="50" />
                        </a>
                    </div>
                    <div class="small-10 column" style="padding-left: 5px;">
                        <a href="{% url 'news:detail' news_id=news.id %}">{{ news.title }}</a>
                        <p>Ecrit avec amour par {{ news.author }}.</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <p>No events are available.</p>
            </div>
        {% endif %}
        <div class="row">
            <div style="text-align: center">
                <a href="#" class="button">
                    Aller aux events
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
