{% extends "base.html" %}

{% load staticfiles %}

{% block title_app %}
    Accueil &#183;
{% endblock %}

{% block header %}
    {% if not user.is_authenticated %}
        <header>
            <div class="row">
                <div class="small-12 large-7 columns">
                    <h1>
                        Bienvenue
                    </h1>
                    <p>
                        Bienvenue sur le site de l'iTeam, une association étudiante de l'ECE pour la promotion du logiciel libre et de l'open source : par exemple le navigateur Firefox, la suite LibreOffice ou le système Linux. Nous organisons plusieurs événements durant l'année, comme des formations ou des conférences. <br />
                        Passez nous voir en salle 22 à E3 !
                    </p>
                </div>
                <div class="large-5 columns hide-for-small">
                    <img src="{% static "images/logo_full.png" %}" alt="logo_full" />
                </div>
            </div>
        </header>
    {% endif %}
{% endblock %}

{% block content %}

<div class="row">
    {# PUBLICATIONS #}
    <div class="large-6 columns">
        <div class="home-app-title">
            <h1>
                <a href="{% url 'publications:index' %}">
                    Publications
                </a>
            </h1>
        </div>
        {% for publication in publications_list %}
            <div class="row collapse">
                <div class="small-3 columns" style="text-align: center;">
                    <a href="{{ publication.get_absolute_url }}">
                        <img src="{{ publication.image_url }}" alt="" style="width: 50px;" />
                    </a>
                </div>
                <div class="small-9 columns">
                    <p>
                        <a href="{{ publication.get_absolute_url }}">{{ publication.title }}</a>
                        écrit par
                        <a href="{% url 'member:detail' publication.author %}">{{ publication.author }}</a>.
                        <br />
                        {{ publication.subtitle }}
                    </p>
                </div>
            </div>
        {% empty %}
            <div class="row collapse">
                <div class="large-12 columns">
                    <p>Aucunes publications trouvées.</p>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="large-12 columns">
                <div class="button-group button-center">
                    <a href="{% url 'publications:index' %}" class="button radius small">
                        Aller aux publications
                    </a>
                    <a href="#" class="button radius small secondary dropdown" data-dropdown="publications-drop-feeds">
                        S’abonner
                    </a><br />
                    <ul id="publications-drop-feeds" class="f-dropdown">
                        <li><a href="{% url 'publications:publications_feed_rss' %}">Nouveaux tutoriels (RSS)</a></li>
                        <li><a href="{% url 'publications:publications_feed_atom' %}">Nouveaux tutoriels (ATOM)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {# EVENT #}
    <div class="large-6 columns">
        <div class="home-app-title">
            <h1>
                <a href="{% url 'events:index_list' %}">
                    Événements
                </a>
            </h1>
        </div>
        {% for event in events_list %}
            <div class="row collapse">
                <div class="small-3 columns" style="text-align: center;">
                    <a href="{{ event.get_absolute_url }}">
                        <img src="{{ event.image_url }}" alt="" style="width: 50px;" />
                    </a>
                </div>
                <div class="small-9 columns">
                    <p>
                        <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                        <br />
                        Le {{ event.date_start|date:'d F Y à H\hi' }}.
                    </p>
                </div>
            </div>
        {% empty %}
             <div class="row collapse">
                <div class="large-12 columns">
                    <p>Aucun événements prévus.</p>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="large-12 columns">
                <div class="button-group button-center">
                    <a href="{% url 'events:index_list' %}" class="button radius small">
                        Aller aux events
                    </a>
                    <a href="#" class="button radius small secondary dropdown" data-dropdown="events-drop-feeds">
                        S’abonner
                    </a><br />
                    <ul id="events-drop-feeds" class="f-dropdown">
                        <li><a href="{% url 'events:events_feed_rss' %}">Nouveaux évémements (RSS)</a></li>
                        <li><a href="{% url 'events:events_feed_atom' %}">Nouveaux évémements (ATOM)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
