

<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>Maintenance &#183; iTeam.org</title>

    <meta name="language" content="fr">
    <meta http-equiv="content-language" content="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="iTeam.org est le site d'une association de l'ECE pour la promotion du logiciel libre et de l'open source : par exemple le navigateur Firefox, la suite LibreOffice ou le système GNU/Linux.">

    <link href="/static/stylesheets/app.css" media="all" rel="stylesheet" type="text/css" />

    <script src="/static/javascripts/vendor/custom.modernizr.js"></script>

    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico" />

</head>

<!--

#################################################################
#                                                               #
#  #####  #####  #####   ###    #    #      ###   ####    ####  #
#    #      #    #      #   #   ##  ##     #   #  #   #  #      #
#    #      #    ####   #####   # ## #     #   #  ####   #  ##  #
#    #      #    #      #   #   #    #     #   #  #  #   #   #  #
#  #####    #    #####  #   #   #    #  #   ###   #   #   ###   #
#                                                               #
#################################################################

FYI : You just lost the Game ! <3

-->

<body>
    <div id="h"></div>

    <!--[if lt IE 8]>
        <div class="browsehappy">
            Vous utilisez un navigateur dépassé. Merci de
            <a href="http://browsehappy.com/">mettre à jour celui-ci</a> pour
            améliorer votre expérience.
        </div>
    <![endif]-->

    <div class="warning_js">
        Votre javascript semble désactivé. Ce site l'utilise avec parcimonie et
        nous vous conseillons de le réactiver.
    </div>


    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <a href="/">
                    <span>
                        <img src="/static/images/logo_light.png" alt="logo_light" />
                    </span>
                </a>
            </li>
        </ul>
    </nav>


<div class="row">
    <div class="large-12 columns">
        <h2>
            Maintenance en cours ...
        </h2>
        <p>
            Le site est actuellement en cours de maintenance et devrait repasser en ligne dans quelques minutes.
        </p>
    </div>
</div>


    <hr />
    <footer class="row">
        <div class="large-6 columns">
            <p>
                iTeam 2014 - <a href="https://github.com/Nodraak/iteam-site">Open source</a>
            </p>
        </div>
        <div class="large-6 columns hide-for-medium hide-for-large hide-for-xlarge hide-for-xxlarge">
            <ul class="inline-list left">
                <li><a href="/pages/apropos/">À propos</a></li>
<li><a href="http://irc.iteam.org">IRC</a></li>
<li><a href="http://ece.fr">ECE</a></li>
<li><a href="/pages/">Plus</a></li>
<li><a href="#h">↑</a></li>

            </ul>
        </div>
        <div class="large-6 columns hide-for-small">
            <ul class="inline-list right">
                <li><a href="/pages/apropos/">À propos</a></li>
<li><a href="http://irc.iteam.org">IRC</a></li>
<li><a href="http://ece.fr">ECE</a></li>
<li><a href="/pages/">Plus</a></li>
<li><a href="#h">↑</a></li>

            </ul>
        </div>
    </footer>

</body>
</html>
