{% extends "events/base.html" %}

{% load publications_tags %}

{% block title_page %}
    Détail &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">{{ event.title }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-10 columns">
                    <h1>
                        {{ event.title }}
                        <small>
                            le {{ event.date_start|date:'d F Y à H\hi' }}
                        </small>
                    </h1>
                </div>
                <div class="large-2 columns">
                    {% if user == event.author or user.profile.is_admin %}
                        <div class="row">
                            <div class="large-12 columns">
                                <a href="{% url 'events:edit' event_id=event.pk %}" class="button-admin button small right">
                                    Éditer
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if event.is_draft %}
                        <div class="row">
                            <div class="large-12 columns">
                                <form action="{{ event.get_absolute_url }}" method="post">
                                    {% csrf_token %}
                                    <button name="toggle_draft" class="button-admin button small right">
                                        Publier
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {# content #}
        <div class="row">
            <div class="large-2 hide-for-small columns">
                <img src="{{ event.image_url }}" width="100" class="hide-for-small event_detail_img" alt="" />
            </div>
            <div class="large-4 columns">
                <ul>
                    <li><strong>Lieu :</strong> {{ event.place }}</li>
                    <li><strong>Date :</strong> Le {{ event.date_start|date:'d F Y à H\hi' }}</li>
                    <li><strong>Type :</strong> {{ event.get_type_display }}</li>
                    <li><strong>Organisateur :</strong> {{ event.author }}</li>
                    {% if event.file %}
                        <li><strong>Fichier attaché :</strong> <a href="{{ event.file.url }}">{{ file_basename }}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="large-6 columns">
                {{ event.text|iteam_markdown }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
