<div class="row">
    <div class="large-12 columns custom_table_event_week">

        <table>
            <tr>
                <th colspan="8">
                    <div class="row">
                        <div class="small-4 columns">
                            <a href="{% url 'events:index_week' year_prev month_prev week_prev %}">Précédent</a>
                        </div>
                        <div class="small-4 columns">
                            {{ month_cur_str }} {{ year_cur }}
                        </div>
                        <div class="small-4 columns">
                            <a href="{% url 'events:index_week' year_next month_next week_next %}">Suivant</a>
                        </div>
                    </div>
                </th>
            </tr>

            <tr>
                <th></th>

                {% for day in days_str %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>

            {% for hour in cal %}
            <tr>
                {% for day in hour %}
                    {% if day.hour %}
                        <th>{{ day.hour }}h</th>
                    {% else %}
                        <td>
                            <ul>
                                {% for event in day.data %}
                                    <li><a href="{% url 'events:detail' event.pk %}">{{ event.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
