
<div class="row event_{{ event.status_style }}">
    <div class="large-2 columns">
        <a href="{% url 'events:detail' event.pk %}">
            <img src="{{ event.image_url }}" class="hide-for-small event_index_list_img" alt="" />
        </a>
    </div>
    <div class="large-10 columns">
        <p>
            <a href="{% url 'events:detail' event.pk %}">{{ event.title }}</a> <span class="event_index_list_type">{{ event.get_type_display }}</span>
            <br />
            {{ event.status_str }} {{ event.date_start|date:"d F Y à H:i" }} à {{ event.place }}.
        </p>
    </div>
</div>
