{% extends "events/base.html" %}

{% block title_page %}
    Index &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-7 columns">
                    <h1>
                        Liste des events
                    </h1>
                </div>
                <div class="large-5 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            <dl class="sub-nav right">
                                <dt>Vue :</dt>
                                <dd class="{{ view_L }}"><a href="?view=L">Liste</a></dd>
                                <dd class="{{ view_W }}"><a href="?view=W">Semaine</a></dd>
                                <dd class="{{ view_M }}"><a href="?view=M">Mois</a></dd>
                            </dl>
                        </div>
                    </div>
                    {% if user.is_authenticated and profile.is_publisher %}
                        <div class="row">
                            <div class="large-12 columns">
                                <a href="{% url 'events:create' %}" class="button-admin small right">
                                    Créer un event
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {# content #}
        {% if view_L %}
            {% include 'events/index_list.part.html' %}
        {% elif view_W %}
            {% include 'events/index_week.part.html' %}
        {% elif view_M %}
            {% include 'events/index_month.part.html' %}
        {% endif %}

    </div>
</div>

{% endblock %}
