{% extends "events/base.html" %}

{% block title_page %}
    Index &#183;
{% endblock %}

{% block breadcrumb_page %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {# title #}
        <div class="home-app-title">
            <div class="row">
                <div class="large-7 columns">
                    <h1>
                        Liste des événements
                    </h1>
                </div>
                <div class="large-5 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            <dl class="sub-nav right">
                                <dt>Vue :</dt>
                                <dd class="{% if view == 'list' %}active{% endif %}">
                                    <a href="{% url 'events:index_list' %}">Liste</a>
                                </dd>
                                <dd class="{% if view == 'week' %}active{% endif %}">
                                    <a href="{% url 'events:index_week' 0 %}">Semaine</a>
                                </dd>
                                <dd class="{% if view == 'month' %}active{% endif %}">
                                    <a href="{% url 'events:index_month' 0 0 %}">Mois</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    {% if user.is_authenticated and user.profile.is_publisher %}
                        <div class="row">
                            <div class="large-12 columns">
                                <a href="{% url 'events:create' %}" class="button-admin button small right">
                                    Créer un event
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {# content #}
        {% if view == 'list' %}
            {% include 'events/index_list.part.html' %}
        {% elif view == 'week' %}
            {% include 'events/index_week.part.html' %}
        {% elif view == 'month' %}
            {% include 'events/index_month.part.html' %}
        {% endif %}

    </div>
</div>

{% endblock %}
