<div class="row">
    <div class="large-12 columns custom_table_event_month">

        <table>
            <tr>
                <th colspan="8">
                    <div class="row">
                        <div class="small-4 columns">
                            <a href="{% url 'events:index_month' 0 0 %}">Précédent <br> {{ month_prev_str }} {{ year_prev }}</a>
                        </div>
                        <div class="small-4 columns">
                            {{ month_cur_str }} {{ year_cur }}
                        </div>
                        <div class="small-4 columns">
                            <a href="{% url 'events:index_month' 0 0 %}">Suivant <br> {{ month_next_str }} {{ year_next }}</a>
                        </div>
                    </div>
                </th>
            </tr>

            <tr>
                {% for day in days_str %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>

            {% for hour in cal %}
            <tr>
                {% for day in hour %}
                    {% if day.hour %}
                        <td>{{ day.hour }}h</td>
                    {% else %}
                        <td>
                            <ul>
                                {% for event in day.data %}
                                    <li><a href="{% url 'events:detail' event.pk %}">{{ event.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>

        {{data}}
    </div>
</div>
